@media (max-width: 1200px) {
  
    
    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 10px;
        max-width: 50%;
    }

    @media (max-width: 500px) {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            max-width: 50%;
        }
    }

    @media (max-width: 376px) {
        .container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            max-width: 50%;
        }
    }
}
   

 